
<%- include('./partials/home-body-1') -%>
<h2><%= cname %></h2>

<h3 class="col-mr-auto">Resources:</h3>
<% if(currUser.type == 'faculty'){ %>
<a href="/<%= ccode %>/add-new" class="btn btn-custom">Add New</a>
<% } %>
<ul>
    <% cdata.forEach(function(data){ %>
        <li><a href="/<%= ccode %>/<%= data.id %>"><%= data.file_title %></a> -- <%= data.date_uploaded %></li>
    <% }); %>
    
</ul>

<%- include('./partials/home-body-2') -%>
